* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid #000; */
}
html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    height: 1200px;
    background: linear-gradient(rgba(10, 10, 10, 0.9), rgba(10, 10, 10, 0.9)), url(macbg.png) no-repeat;
    background-size: cover;
    color: white;

}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header{
    /* position: fixed; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo a{
    width: 200px;
    height: 80px;

    margin-left: 15px;
    margin-top: 15px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: white;
}

#logo:hover {
    color: #f58505;
}

.menu {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.menu li {
    width: 25%;
    text-align: center;
}

.menu li a {
    font-weight: bold;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

.menu li a:hover {
    color: #f58505;
}

.main {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    padding-top: 200px;

    text-align: center;
}

.main h1 {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.main h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.main h3 {
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 30px;
}

.main button {
    font-size: 18px;

    width: 160px;
    height: 60px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: 0.3s;
    border-radius: 15px;

}

.main button:hover {
    background-color: #fff;
    color: #000;
}

.mouse{
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
    animation: mouse 1s infinite;
}
@keyframes mouse{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(35px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* about me */
.about{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
}
.about h2{
    font-size: 40px;
    color: #f58505;
}
.about h1{
    font-size: 50px;
}
.about .contents{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}
.about .left{
    width: 400px;
    height: 500px;
}
.about .left img{
    width: 400px;
    height: 550px;
}
.about .right{
    width: 800px;
    height: 500px;
    padding-left: 50px;
}
.about .right h1{
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}.about .right span{
    color: #f58505;
}
.about .right li{
    font-size: 23px;
    margin-bottom: 20px;
}
.fa-facebook{
    color: #3b5998;
    font-size: 50px;
    margin-right: 10px;
}
.fa-youtube{
    color: #dd2c00;
    font-size: 50px;
    margin-right: 10px;
}
.fa-instagram{
    font-size: 50px;
    color: rgb(173, 84, 173);
    margin-right: 10px;
}

/* skills */
.skills{
    background-color: #eee;
    width: 100%;
    height: 700px;
    margin-top: 100px;
    padding-top: 100px;
}
.skills h2{
    font-size: 40px;
    color: #f58505;
}
.skills h1{
    font-size: 50px;

}
.skills-inner{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
.skills .contents{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;

}
.skills .contents li{
    width: 350px;
    height: 280px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 10px 10px 5px grey;

    padding: 20px;
    transition: 0.3s;
    border-radius: 15px;
}
.skills h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.skills i{
    color: #f58505;
    font-size: 35px;
}
.skills .contents li:hover{
    background-color: #f58505;
    color: white;
    
}
.skills .contents li:hover i{
    color: white;
}

/* background photo */
.bg{
    width: 100%;
    height: 500px;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* projects */
.project{               
    background-color: #eee;
    width: 100%;
    height: 900px;
    padding-top: 100px;
}
#meat{
    font-size: 23px;
    margin-bottom: 20px;
}

.project h2{
    font-size: 40px;
    color: #f58505;
}
.project h1{
    font-size: 50px;

}
.project-inner{
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
.project .contents{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 50px;

}
.project .contents li{
    width: 350px;
    height: 400px;
    margin-top: 200px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 10px 10px 5px grey;

    padding: 20px;
    transition: 0.3s;
    border-radius: 15px;
}
.project h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.project i{
    color: #f58505;
    font-size: 35px;
}
.project .contents li:hover{
    background-color: #f58505;
    color: white;
    
}
.project .contents li:hover i{
    color: white;
}
#school{
    margin-top: 30px;
    border: 2px solid #000;/
}
#mire{
    margin-top: 30px;
    border: 2px solid #000;
}
#cfile{
    margin-top: 30px;
    border: 2px solid #000;
}
#github{
    margin-top: 20px;
}

/* contact */
.contact{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}
.contact h2{
    font-size: 40px;
    color: #f58505;
}
.contact h1{
    font-size: 50px;
}
.contact .contents{
    width: 1200px;
    height: 700px;
    display: flex;
}
.contact .left{
    width: 400px;
    height: 700px;
}
.info{
    width: 350px;
    height: 80px;
    border: 1px solid #ccc;
    padding: 15px;  
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px grey;
}
.contact .right{
    width: 800px;
    height: 700px;
}
.contact .right p{
    margin-top: 20px;
    margin-left: 50px;
}
.contact .right input{
    width: 750px;
    height: 30px;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.contact .right textarea{
    width: 750px;
    height: 400px;
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.contact button{
    width: 750px;
    height: 30px;
    background-color: #23A3A8;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 10px;
    border-radius: 10px;

    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contact button a{
    color: white;
}